{% extends "EPFProjetsProfileBundle::layout.html.twig" %}
{% block body %}

{% for message in app.session.flashbag.get('info') %}
<p>Message flash : {{ message }}</p>
{% endfor %}

<div class="row">
{{ form(form) }}
</div>


{% endblock %}
