{% extends "EPFProjetsProfileBundle::layout.html.twig" %}
{% block body %}

{% for message in app.session.flashbag.get('info') %}
<p>Message flash : {{ message }}</p>
{% endfor %}

<div class="row">
<h2>Vous devez changer de photo si vous souhaitez changer de description!</h2>
<div class="col-xs-10">
{{ form(form) }}
</div>
</div>

{% endblock %}
