{% extends "EPFProjetsProfileBundle::layout.html.twig" %}
{% block body %}

<div class="well">
{{ form(form) }}
</div>

    {% for message in app.session.flashbag.get('info') %}
    <p>Message flash : {{ message }}</p>
    {% endfor %}

{% endblock %}
